---
import ArtistCard from "../components/ArtistCard.astro";
import MainLayout from "../layouts/main-layout.astro";
 import mtee from "../images/mtee.png";
  import wop from "../images/wop.png";
  import ocho from "../images/ocho.png";
  import funto from "../images/funto.png";
  import cc from "../images/cc.png";
import dave from "../images/Dave.png";
import josh from "../images/josh.png";

export const prerender = true;
---

<MainLayout >
  <div class="w-full h-full" transition:name="rmgFamily" >
    <h1 data-aos="fade-in" class="text-center text-6xl pt-10 mb-10 md:pt-48 md:mb-28 md:text-7xl " >The Real Muziq Family</h1>
    <div data-aos="flip-up" data-aos-easing="linear" class="carousel w-full flex">
    <div id="mtee" class="carousel-item relative w-full">
      <ArtistCard avatar={mtee} name="MTee Taylor" title="Artist" logo="bg-rmg-logo" facebook="https://www.facebook.com/mario.kenyata.taylor" instagram="https://www.instagram.com/mteetaylor/" tiktok="https://www.tiktok.com/@mteetaylor870" twitter="https://twitter.com/i/flow/login?redirect_after_login=%2Fmteetaylor" youtube="https://www.youtube.com/channel/UC2JAKuVrWB6ns5qw_6dXUmQ" spotify="https://open.spotify.com/artist/1nW44pBv3rPmyfW3fd3pm2" appleMusic="https://music.apple.com/us/artist/mtee-taylor/1481915107" />
       <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#josh" class="btn btn-circle">❮</a>
        <a href="#juwop" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div  id="juwop" class="carousel-item relative w-full">
      <ArtistCard avatar={wop} name="Juwop" title="Producer" logo="bg-rmg-logo" appleMusic="https://music.apple.com/us/playlist/produced-by-juwop-2023/pl.u-mJy81BJtDpveWW" instagram="https://instagram.com/juwop28?igshid=MzRlODBiNWFlZA==" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#mtee" class="btn btn-circle">❮</a>
        <a href="#ocho" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="ocho" class="carousel-item relative w-full">
      <ArtistCard avatar={ocho} name="Ocho From60" title="Artist" logo="bg-rmg-logo" youtube="https://youtube.com/@ochofrom6042?si=K7tRQzwXtclCgHox" appleMusic="https://music.apple.com/us/artist/ochofrom60/1557561929" spotify="https://spotify.link/ruAUfFIl9Cb" instagram="https://instagram.com/ochofrom60?igshid=MzRlODBiNWFlZA==" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#juwop" class="btn btn-circle">❮</a>
        <a href="#funto" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="funto" class="carousel-item relative w-full">
      <ArtistCard avatar={funto} name="Funto" title="Producer" logo="bg-rmg-logo" instagram="https://instagram.com/funtobeats?igshid=MzRlODBiNWFlZA==" twitter="https://twitter.com/Funtobeats" soundcloud="https://soundcloud.com/funtobeats" beatstars="https://www.beatstars.com/funtobeats" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#ocho" class="btn btn-circle">❮</a>
        <a href="#cocoa" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="cocoa" class="carousel-item relative w-full">
      <ArtistCard avatar={cc} name="Cocoa Parnell" title="Artist" logo="bg-rmg-gospel" facebook="https://www.facebook.com/latora.denisespringer?mibextid=LQQJ4d " instagram="https://instagram.com/cocoaparnell?igshid=MzRlODBiNWFlZA==" youtube="https://youtube.com/@cocoaparnell5313?si=PKYGv03wfqDKsHQK" spotify="https://spotify.link/B5hCb1mMbDb" appleMusic="https://music.apple.com/us/artist/cocoa-parnell/1630693801" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#funto" class="btn btn-circle">❮</a>
        <a href="#dave" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="dave" class="carousel-item relative w-full">
      <ArtistCard avatar={dave} name="Mcdaveid" title="Artist/ Producer" logo="bg-rmg-logo" instagram="https://instagram.com/mcdaveid" beatstars="https://player.beatstars.com/?storeId=131032" youtube="https://www.youtube.com/channel/UCP5b0R7QZ2t9jqLDDT1_uKQ" spotify="https://open.spotify.com/artist/3n8OoD9JRlDhMnPLmheedx?si=awCGLLNoROO-1BUtfMmSIQ&nd=1" soundcloud="https://soundcloud.com/user-483083763-3132336" facebook="https://www.facebook.com/daveid15666?ref=hl" tiktok="https://www.tiktok.com/@mcdaveid" store="https://mc-daveid-merchshop.myspreadshop.net/"  />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#cocoa" class="btn btn-circle">❮</a>
        <a href="#josh" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="josh" class="carousel-item relative w-full">
      <ArtistCard avatar={josh} name="Josh Vinson" title="PublicRelationsManager" logo="bg-rmg-logo" instagram="https://instagram.com/realmuziqjosh?igshid=MzRlODBiNWFlZA==" />
       <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#dave" class="btn btn-circle">❮</a>
        <a href="#mtee" class="btn btn-circle">❯</a>
      </div>
    </div>
</div>
    <!-- <h1 class="text-center text-5xl pt-10 mb-10 md:pt-24 md:mb-24 ">For Inquries About Joining The Team <a href="/contact" class="link">Click Here</a> </h1> -->
  </div>
</MainLayout>